<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" type="text/css" href="/css/common/mheader.css">   
    <link rel="stylesheet" type="text/css" href="/css/common/font.css">  
    <script type="text/javascript" defer src="/js/common/adminheader.js"></script>  
</head>
<body>
    <div class="top-holder"></div>

    <h1 class="main">
       
            <span>물뿌리개</span>
      
    </h1>
    <div class="inner">

        <div class="menu">
            <!-- <button>홈버튼</button> -->
            <a href="../MulbburiAdminMain" class="adminhome">
                <span>홈</span>
            </a>
            <a href="../askAdmin" class="askAdmin">
                <span>문의 관리</span>
            </a>
            <a href="../screenAdmin" class="screenAdmin">
                <span>화면 관리</span>
            </a>
        </div>
        <div class="side">
            <a href="../Mulbburi" class="logout">
                <span>로그아웃</span>
            </a>          
        </div>
    </div>

    <!-- 검색 -->

    <!-- <div class="searchCriteria">
        <input type="text" value="" id="search">
        <button id="rsearch">검색</button>
    </div> -->

</body>
</html>