<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link href="/css/common/mheader.css" rel="stylesheet" style type="text/css">
    <link href="/css/common/font.css" rel="stylesheet" style type="text/css">
    <script type="text/javascript" defer src="/js/common/header.js"></script>
</head>
<body>
    <div class="top-holder"></div>

     <a href="../Mulbburi" class="main">
        
            <h1><span>물뿌리개</span></h1>
        </a>
    
    <div class="inner">

        <div class="menu">
            <!-- <button>홈버튼</button> -->
        </div>
        <div class="side">
            <a href="/member/login/login" class="login">
                <span>로그인</span>
            </a>
            <a href="member/regist/registOpen "class="registMember">
                <span>회원가입</span>
            </a>            
        </div>
    </div>

    <!-- 검색 -->

    <!-- <div class="searchCriteria">
        <input type="text" value="" id="search">
        <button id="rsearch">검색</button>
    </div> -->

</body>
</html>