<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link href="/css/common/mheader.css" rel="stylesheet" style type="text/css">
    <link href="/css/common/font.css" rel="stylesheet" style type="text/css">
    <script type="text/javascript" defer src="/js/common/header.js"></script>
</head>
<body>
    <div class="top-holder"></div>
    <h1 class="main">
        
            <span>물뿌리개</span>
        
    </h1>
    <div class="inner">
        <div class="menu">
            <!-- <button>홈버튼</button> -->
            <a href="../Mulbburi/login" class="home">
                <span>홈</span>
            </a>
            <a href="../store" class="store">
                <span>스토어</span>
            </a>
            <a href="../thumbnail/list"class="community">
                <span>커뮤니티</span>
            </a>
            <a href="../consumer/main" class="customer">
                <span>고객센터</span>
            </a>
        </div>
        <div class="side">
            <a href="../Mulbburi" class="logout">
                <span>로그아웃</span>
            </a>
            <a href="/cart/list"class="shoppingcart">
                <span>장바구니</span>
            </a>
            <a href="/member/mypage/mypageMain" class="mypage">
                <span>마이페이지</span>
            </a>
        </div>
    </div>
    <!-- 검색 -->
    <!-- <div class="searchCriteria">
        <input type="text" value="" id="search">
        <button id="rsearch">검색</button>
    </div> -->
</body>
</html>