<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link href="/css/common/hheader.css" rel="stylesheet" style type="text/css">
    <link href="/css/common/font.css" rel="stylesheet" style type="text/css">
    <script type="text/javascript" defer src="/js/common/sellerheader.js"></script>
</head>
<body>
    <div class="top-holder"></div>

    <h1 class="main">
    
            <span>물뿌리개</span>
      
    </h1>
    <div class="inner">

        <div class="menu">
            <!-- <button>홈버튼</button> -->
            <a href="/sellerMain" class="sellerhome">
                <span>홈</span>
            </a>
            <a href="/management/orderAll" class="">
                <span>주문 관리</span>
            </a>
            <a href="/calculator">
                <span>정산</span>
            </a>
            <a href="/store/store" class="">
                <span>스토어</span>
            </a>
        </div>
        <div class="side">
            <a href="../" class="">
                <span>로그아웃</span>
            </a>          
        </div>
    </div>

    <!-- 검색 -->

<!--     <div class="searchCriteria">
        <input type="text" value="" id="search">
        <button id="rsearch">검색</button>
    </div> -->

</body>
</html>