<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 대기</title>
    <link href="../css/management/style.css" rel="stylesheet" style type="text/css">
</head>
<body>

	<div th:replace="common/msellerLoginHeader.html"></div>

    <div class="wrapper">

        <!-- 메뉴바 -->

        <ul class="menu-bar">
            <li>
                <a href="/management/orderAll">전체</a>
            </li>
            <li>
                <a>결제</a>
                <ul class="sub-menu">
                    <li><a href="/management/waitPay">결제 대기</a></li>
                    <li><a href="/management/compPay">결제 완료</a></li>
                </ul>
            </li>
            <li>
                <a>배송</a>
                <ul class="sub-menu">
                    <li><a href="/management/waitSend">발송 대기</a></li>
                    <li><a href="/management/compSend">발송 완료</a></li>
                </ul>
            </li>
            <li>
                <a>환불</a>
                <ul class="sub-menu">
                    <li><a href="/management/waitRef">환불 대기</a></li>
                    <li><a href="/management/compRef">환불 완료</a></li>
                </ul>            
            </li>
            <li>
                <a>교환</a>
                <ul class="sub-menu">
                    <li><a href="/management/waitExc">교환 대기</a></li>
                    <li><a href="/management/compExc">교환 완료</a></li>
                </ul>            
            </li>
        </ul>

        <!-- 주문 관리 제목 -->

        <div class="title">
            <p>결제 대기</p>
        </div>

        <!-- 주문 관리 내용 -->

        <div class="wrap">
        
	        <form action="/management/compPay" method="post">
	            
	            <table class="content">
	                <tr id="subject">
	                    <th></th>
	                    <th>주문번호</th>
	                    <th>주문날짜</th>
	                    <th>고객ID</th>
	                    <th>결제번호</th>
	                    <th>입금자명</th>
	                    <th>결제금액</th>
	                    <th>입금상태</th>
	                </tr>
					<tr th:each="management : ${ waitPay }" class="check">
						<td>
							<input type="checkbox" name="orderNo[]" th:value="${ management.orderNo }" th:id="${'check-' + management.orderNo}">
							<label th:attr="for=${'check-' + management.orderNo}" ></label>
						</td>
						<td th:text="${ management.orderNo }"></td>
						<td th:text="${ management.orderDate }"></td>
						<td th:text="${ management.memberId }"></td>
	 					<td th:text="${ management.payNo }"></td> 
	 					<td th:text="${ management.payName }"></td> 
						<td th:text="${ management.payMoney } + '원'"></td>
						<td th:text="${ management.payStatus }"></td>
						<!--<td><button class="press">자세히</button></td>-->
					</tr>
	            </table>
	            
	            <div class="select">
					<!--<input type="submit">-->
	                <button class="comp">결제 완료</button>
	            </div>
	        </form>
	        
        </div>

        <!-- 페이징 -->

        <div class="paging">
			<th:block
				th:if="${ paging.searchCondition != null and paging.searchValue != null }">
				<!-- 맨 앞으로 이동 -->
				<button
					th:onclick="'location.href=\'/management/waitPay?page=1&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''">&lt;&lt;</button>
	​
				<!-- 이전 페이지로 이동 -->
				<button
					th:onclick="'location.href=\'/management/waitPay?page=' + @{${paging.page - 1}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"
					th:disabled="${ paging.page <= 1 }">이전</button>
	​
				<!-- 숫자 버튼 -->
				<th:block
					th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
					<button
						th:onclick="'location.href=\'/management/waitPay?page=' + @{${page}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"
						th:text="${ page }" th:disabled="${ paging.page eq page }">
					</button>
				</th:block>
	​
				<!-- 다음 페이지로 이동 -->
				<button
					th:onclick="'location.href=\'/management/waitPay?page=' + @{${paging.page + 1}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${searchValue}} + '\''"
					th:disabled="${ paging.page >= paging.maxPage }">다음</button>
	​
				<!-- 맨 끝으로 이동 -->
				<button
					th:onclick="'location.href=\'/management/waitPay?page=' + @{${paging.maxPage}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${searchValue}} + '\''">&gt;&gt;</button>
	​
			</th:block>
	​
			<th:block
				th:if="${ paging.searchCondition == null || paging.searchCondition.isEmpty() || paging.searchValue == null || paging.searchValue.isEmpty()}">
				<!-- 맨 앞으로 이동 -->
				<button th:onclick="'location.href=\'/management/waitPay?page=1\''">&lt;&lt;</button>
	​
				<!-- 이전 페이지로 이동 -->
				<button
					th:onclick="'location.href=\'/management/waitPay?page=' + @{${paging.page - 1}} + '\''"
					th:disabled="${ paging.page <= 1 }">이전</button>
	​
				<!-- 숫자 버튼 -->
				<th:block
					th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
					<button
						th:onclick="'location.href=\'/management/waitPay?page=' + @{${page}} + '\''"
						th:text="${ page }" th:disabled="${ paging.page eq page }">
					</button>
				</th:block>
	​
				<!-- 다음 페이지로 이동 -->
				<button
					th:onclick="'location.href=\'/management/waitPay?page=' + @{${paging.page + 1}} + '\''"
					th:disabled="${ paging.page >= paging.maxPage }">다음</button>
	​
				<!-- 맨 끝으로 이동 -->
				<button
					th:onclick="'location.href=\'/management/waitPay?page=' + @{${paging.maxPage}} + '\''">&gt;&gt;</button>
			</th:block>
        </div>

    </div>

    <div th:replace="common/hfooter.html"></div>

</body>
</html>