<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/productpage/productpage.css" rel="stylesheet" type="text/css">
    <title>product</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<div th:replace="/common/mheaderLogin.html"></div>
	<form action="/cart/list/checkout" method="post">
    <div class="contentsWrap">
        <div class="detailView">
        <div class="goodsInfo">
        <div class="detailLeft">
            <div class="goodsPic">
                <th:block th:each="prod : ${productList}"><img th:if="${ prod.fileType == 'MAIN'}" th:src="${prod.filePath}"></th:block>
            </div>
        </div>
        <div class="detailRight">
            <div class="reviewTXT" th:text="${product.sbName}"></div>
            <div class="startBox">
                <span>
                    <img src="/img/icon_rating.png" alt="">
                </span>
                <span class="point">0.0 </span>
                <span>후기 0</span>
            </div>
            <table class="shopInfo">
                <tbody>
                    <tr>
                        <th>배송비</th>
                        <td>0 원</td>
                    </tr>
                    <tr>
                        <th>판매자</th>
                        <td th:text="${product.sellerName}"></td>
                    </tr>
                    <tr>
                        <th>상품설명</th>
                        <td>블라블라</td>
                    </tr>
                </tbody>
            </table>
            <div class="totalPriceNum">
                <div class="greenColor">주문금액</div>
                <div class="total">
                    <span id="priceSum" th:text="${product.sbPrice}"></span>
                    <span>원</span>
                </div>
            </div>
            <div class="halfFullButton">
            <div class="halfCell">
                <div class="button default full greenLine" id="cartButton" th:onclick="addCart([[${product.sbNo}]])">장바구니</div>
            </div>
            <div class="halfCell">
                <div class="button default full green" id="buyButton">바로구매</div>
            </div>
        </div>
        </div>
        </div>
    <div class="tabButtonWrap style2" style="margin-bottom: 30px;">
        <a class="tab" href="#detailComentSection">상품정보</a>
        <a class="tab" href="">후기<span>(0)</span></a>
        <a class="tab" href="#reviewSection">문의<span>(0)</span></a>
        <a class="tab" href="#policySection">배송/환불/교환</a>
        <a class="tab" href="#storeInfoSection">판매자정보</a>
    </div>
    <div class="editorStyleWrapper detailComentSection" id="detailComentSection">
        <div class="text" id="editorContent1">
            <p style="text-align: center;">
                <th:block th:each="prod : ${productList}"><img th:if="${ prod.fileType == 'DETAIL'}" th:src="${prod.filePath}"></th:block>
            </p>
            <p style="text-align: center;">
                <img src="" class="fr-fic fr-dii">
            </p>
            <p style="text-align: center;">
                <img src="" class="fr-fic fr-dii">
            </p>
            <p style="text-align: center;">
                <img src="" class="fr-fic fr-dii">
            </p>
            <p style="text-align: center;">
                <img src="" class="fr-fic fr-dii">
            </p>
            <p style="text-align: center;">
                <img src="" class="fr-fic fr-dii">
            </p>
            <p style="text-align: center;">
                <img src="" class="fr-fic fr-dii">
            </p>
            <p style="text-align: center;">
                <img src="" class="fr-fic fr-dii">
            </p>
        </div>
    </div>
    <div class="pageTitle mt30 marginB10">구매후기<span class="greenColor">(0)</span></div>
    <div class="reviewStarpoint mb40">
        <img src="/img/pointStar.png">
        0.0
    </div>
    <div>
        <ul class="revieworderTab tabPhoto"></ul>
    </div>
    <div class="pageTitle" id="policySection">배송/환불/교환</div>
    <div class="tableSection">
        <div class="formTitle">주문/배송</div>
        <table class="infoBox">
            <tbody>
                <tr>
                    <td>주문</td>
                    <th>어쩌구저쩌구</th>
                </tr>
                <tr>
                    <td>배송</td>
                    <th>택배, 4일이내</th>
                </tr>
                <tr>
                    <td>배송비</td>
                    <th>0원</th>
                </tr>
            </tbody>
        </table>
        <div class="formTitle">교환/환불</div>
        <table class="infoBox">
            <tbody>
                <tr>
                    <td>환불배송비</td>
                    <th>0원</th>
                </tr>
                <tr>
                    <td>교환배송비</td>
                    <th>0원</th>
                </tr>
                <tr>
                    <td>보내실 곳</td>
                    <th th:text="${product.bsAddress + ' ' + product.dtAddress}"></th>
                </tr>
            </tbody>
        </table>
        <div class="description">
            * 식물이상으로 인한 교환, 환불 요청은 식물 특성상 배송 받은 날 포함 3일까지만 가능합니다. (상품 수령 후 문제가 없는지 꼼꼼하게 잘 살펴 주시기 바랍니다.) <br>
            * 단순 변심에 의한 교환, 환불일 경우 구매자가 왕복배송비를 부담합니다 <br>
            * 상품 하자에 의한 교환, 환불일 경우 판매자가 왕복배송비를 부담합니다.<br>
            * 식물의 경우 여러 이름으로 불려질 수 있으며, 구매자의 착오로 인한 반품의 경우 단순변심에 의한 환불과 동일하게 처리됩니다. <br>
            * 판매자와 구매자간에 직접적으로 거래하는 직거래는 금지되며, 직거래를 통하여 발생한 제반 문제에 대한 책임은 거래 당사자에게 있으며 물뿌리개는 발생된 문제/분쟁에 대하여 어떠한 책임도 지지 않습니다.<br>
            * 다음과 같은 경우에는 교환 및 반품이 불가능합니다.<br>
            <ol>
                <li>구매자의 귀책사유로 상품이 멸실·훼손된 경우</li>
                <li>상품의 포장을 개봉하였거나 포장이 훼손된 경우</li>
                <li>구매자의 사용 또는 일부 소비에 의하여 상품가치가 감소한 경우</li>
                <li>시간이 경과되어 재판매가 곤란할 정도로 상품의 가치가 감소한 경우</li>
            </ol>
        </div>
    </div>
    <div class="pageTitle" id="storeInfoSection">판매자정보</div>
    <table class="infoBox">
        <tbody>
            <tr>
                <td>상호</td>
                <th th:text="${product.sellerName}">개</th>
            </tr>
            <tr>
                <td>대표자명</td>
                <th th:text="${product.memberName}"></th>
            </tr>
            <tr>
                <td>사업자번호</td>
                <th th:text="${product.businessNo}"></th>
            </tr>
            <tr>
                <td>통신판매업신고번호</td>
                <th>제 9798-ㅇㅇㅇㅇ-181호</th>
            </tr>
            <tr>
                <td>연락처</td>
                <th th:text="${product.phone}"></th>
            </tr>
            <tr>
                <td>이메일</td>
                <th th:text="${product.email}"></th>
            </tr>
            <tr>
                <td>주소</td>
                <th th:text="${product.bsAddress + ' ' + product.dtAddress}"></th>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
    </form>
<div th:replace="/common/j.footer2.html"></div>
    <script>
function addCart(sbNo){
		
		fetch("/cart/add", {
			method : 'POST',
			headers : {
				'Content-Type' : 'application/json; charset=UTF-8'
			},
			body : JSON.stringify({sbNo : sbNo})
		})
		.then(result =>{
			if(!confirm("장바구니에 상품을 추가하였습니다 장바구니 페이지로 이동하시겠습니까?")){
				
			} else{
				location.href = '/cart/list';
			}
		})
};
    </script>
</body>
</html>