<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link href="/css/main/02.sellerMain.css" rel="stylesheet" style type="text/css">
    <link href="/css/font.css" rel="stylesheet" style type="text/css">
   	<script src="/js/main/02.sellerMain.js" defer></script>
</head>
<body>
    <!-- banner -->
    <div class="wrapper">
            <div class="banner 1"><img src="/img/배너 1.png"></div>
            <div class="banner 2"><img src="/img/배너 2.png"></div>
            <div class="banner 3"><img src="/img/배너 3.png"></div>
    </div>


    <!-- new product -->
    <div class="bestProduct">
        <h1>Best Product</h1>
        <h4>자세한 사항은 판매현황 탭에서 확인해주세요.</h4>
    </div>

    <div class="bestProductPicture">
        <div>
            <img src="/img/상품3.png"><br>
            <span class="s1">[다육이]</span>
            <span class="s2">호말로메나선샤인</span><br>
            <span class="s3">2,400,000</span>
        </div>

        <div>
            <img src="/img/상품3.png"><br>
            <span class="s1">[생화]</span>
            <span class="s2">프리지아</span><br>
            <span class="s3">800,000</span>
        </div>

        <div>
            <img src="/img/상품3.png"><br>
            <span class="s1">[생화]</span>
            <span class="s2">장미</span><br>
            <span class="s3">600,000</span>
        </div>

        <div>
            <img src="/img/상품3.png"><br>
            <span class="s1">[다육이]</span>
            <span class="s2">선인장</span><br>
            <span class="s3">400,000</span>
        </div>
    </div>
    
</body>
</html>