body {
    width: 100%;
}

.title {
    text-align : center;
    font-size: 20px;
    margin-top: 3%;
    color : #474242;
    opacity: 0.8
}

.titleinfo {
    text-align : center;
    margin-bottom: 50px;
    color : #474242;
    opacity: 0.6;
}

.sequence {
    text-align : center;
    margin-bottom: 50px;
}

.step1 {
    margin-right: 30px;
    font-size: 20px;
    color : #474242;
    opacity: 0.9;
}

.step2 {

    font-size: 20px;
    color : #474242;
    opacity: 0.9;
}

.step3 {

    font-size: 20px;
    color : #474242;
    opacity: 0.9;
}

.arrow {
    margin-left : 30px;
    margin-right: 30px;
    font-size: 20px;
    color : #474242;
    opacity: 0.9;
}


.line1 {
    border-top: 1px solid black;
    width: 70%;
    margin-left: 15%;
}

.joinTitle {
    text-align: center;
    margin-top: 100px;
    font-family: 'HSBombaram21-Regular';
    color: #a9c5b9;

}

.joinSub {
    text-align: center;
    color :rgba(126, 113, 113, 0.6);
}

.joinSub2 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    color: rgba(71, 66, 66, 0.7);
    font-size: xx-large;
}

.joinSub2 span {
    font-weight: 400;
}

.loginBtn {
    text-align: center;
}

.homeBtn {
    text-align: center;
    margin-top: 5px;
}

.btnlogin {
    background-color: rgba(71, 66, 66, 0.7);
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 80px;
}

.btnHome {
    text-decoration: none;
    color :rgba(126, 113, 113, 0.6);
    
}