<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.water.Mulbburi.screen.youtube.YoutubeMapper">

<resultMap id="youtubeResultMap" type="com.water.Mulbburi.screen.youtube.YoutubeDTO">
	<id property="ytNo" column="YT_NO"/>
	<result property="ytWriteDate" column="YT_WRITE_DATE"/>
	<result property="ytDeleteDate" column="YT_DELETE_DATE"/>
	<result property="ytPostDate" column="YT_POST_DATE"/>
	<result property="ytEndDate" column="YT_END_DATE"/>
	<result property="memberNo" column="MEMBER_NO"/>
	<result property="ytPath" column="YT_PATH"/>
	<result property="ytName" column="YT_NAME"/>
</resultMap>


<insert id="insertYoutube">
	INSERT
	      INTO YOUTUBE
	(
		  YT_NO,
		  YT_WRITE_DATE,
		  YT_DELETE_DATE,
		  YT_POST_DATE,
		  YT_END_DATE,
		  MEMBER_NO,
		  YT_PATH,
		  YT_NAME
	)
	VALUES
	(
		  SEQ_YT_NO.NEXTVAL,
		  #{ytWriteDate},
		  #{ytDeleteDate},
		  #{ytPostDate},
		  #{ytEndDate},
		  1,
		  #{ytPath},
		  #{ytName}		  
	)
</insert>

<select id="selectAllYoutube" parameterType="com.water.Mulbburi.screen.youtube.YoutubeDTO" resultMap="youtubeResultMap">
	SELECT
		  YT_NO,
		  YT_WRITE_DATE,
		  YT_DELETE_DATE,
		  YT_POST_DATE,
		  YT_END_DATE,
		  YT_PATH,
		  YT_NAME
	 FROM YOUTUBE
</select>

<select id="selectTotalCount" resultType="_int" parameterType="hashmap">
        SELECT 
        	   COUNT(*)
          FROM YOUTUBE
</select>




</mapper>