<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.water.Mulbburi.management.dao.ManagementMapper">

   <resultMap type="com.water.Mulbburi.management.dto.ManagementDTO" id="orderAllResultMap">
      <id property="orderNo" column="ORDER_NO"/>
      <result property="orderDate" column="ORDER_DATE"/>
      <result property="memberId" column="MEMBER_ID" />
      <result property="sbName" column="SB_NAME"/>
      <result property="orderAmount" column="ORDER_AMOUNT"/>
      <result property="orderMoney" column="ORDER_AMOUNT_MONEY"/>
   </resultMap>

   <select id="checkTotalCount" resultType="_int">
	SELECT
	       COUNT(*)
	  FROM TBL_ORDER T
	  JOIN SHOPPINGBASCKET S ON (T.MEMBER_NO = S.MEMBER_NO)	
   </select>
   
   <select id="checkorderAllList" resultMap="orderAllResultMap">
	SELECT
	       O.ORDER_NO
	     , O.ORDER_DATE
	     , MEMBER_ID
	     , SB_NAME
	     , (SELECT COUNT(*) FROM DETAIL_ORDER DEO2 WHERE DEO2.ORDER_NO = O.ORDER_NO) ORDER_AMOUNT
	     , O.ORDER_AMOUNT_MONEY
	  FROM TBL_ORDER O
	  JOIN DETAIL_ORDER DEO ON (O.ORDER_NO = DEO.ORDER_NO)
	  JOIN MEMBER USING (MEMBER_NO)
	  JOIN SHOPPINGBASCKET USING (SB_NO)
	</select>

</mapper>