<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.water.Mulbburi.management.dao.ManagementMapper">

   <resultMap type="com.water.Mulbburi.management.dto.ManagementDTO" id="orderAllResultMap">
      <id property="orderNo" column="ORDER_NO"/>
      <result property="orderDate" column="ORDER_DATE"/>
      <result property="memberId" column="MEMBER_ID" />
      <result property="sbName" column="SB_NAME"/>
      <result property="orderAmount" column="ORDER_AMOUNT"/>
      <result property="orderMoney" column="ORDER_AMOUNT_MONEY"/>
   </resultMap>

	<resultMap type="com.water.Mulbburi.management.dto.ManagementDTO" id="orderDetailResultMap">
      <id property="orderNo" column="ORDER_NO"/>
      <result property="orderDate" column="ORDER_DATE"/>
      <result property="sbNo" column="SB_NO"/>
      <result property="sbName" column="SB_NAME"/>
      <result property="DtorderAmount" column="DT_ORDER_AMOUNT"/>
      <result property="DtorderMoney" column="DT_ORDER_AMOUNT_MONEY"/>		
      <result property="orderName" column="ORDER_NAME" />
      <result property="orderPhone" column="ORDER_PHONE" />
      <result property="orderPostCode" column="ORDER_POST_CODE" />
      <result property="orderBsAddress" column="ORDER_BS_ADDRESS" />
      <result property="orderDtAddress" column="ORDER_DT_ADDRESS" />
	</resultMap>

   <select id="checkTotalCount" resultType="_int">
	SELECT
	       COUNT(*)
	  FROM TBL_ORDER O
   </select>
   
   <select id="checkorderAllList" resultMap="orderAllResultMap">
		SELECT 
		       A.*
		  FROM (SELECT 
		               ROWNUM RNUM,
		               B.*
		          FROM ( SELECT
		                        O.ORDER_NO
		                      , O.ORDER_DATE
		                      , MEMBER_ID
		                      , (SELECT MAX(SB_NAME) FROM DETAIL_ORDER DEO JOIN SHOPPINGBASCKET USING (SB_NO) WHERE DEO.ORDER_NO = O.ORDER_NO) SB_NAME
		                      , ORDER_AMOUNT
		                      , O.ORDER_AMOUNT_MONEY
		                   FROM TBL_ORDER O
		                   JOIN MEMBER USING (MEMBER_NO)
		                   ORDER BY O.ORDER_NO DESC) B
		                <![CDATA[ WHERE ROWNUM <= #{ endRow }]]> 
		          ) A
		 WHERE RNUM >= #{ startRow }
	</select>
	
	<select id="checkOrderDetail" resultMap="orderDetailResultMap">
		SELECT
		       ORDER_NO
		     , ORDER_DATE
		     , SB_NO
		     , SB_NAME
		     , DT_ORDER_AMOUNT
		     , (DT_ORDER_AMOUNT)*SB_PRICE DT_ORDER_MONEY
		     , ORDER_NAME
		     , ORDER_PHONE
		     , ORDER_POST_CODE
		     , ORDER_BS_ADDRESS
		     , ORDER_DT_ADDRESS
		  FROM TBL_ORDER
		  JOIN DETAIL_ORDER USING (ORDER_NO)
		  JOIN SHOPPINGBASCKET USING (SB_NO)
		 WHERE ORDER_NO = #{ orderNo }
	</select>

</mapper>