<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pwdFalse</title>
    <link rel="stylesheet" href="/css/member/login/pwdFalse.css" type="text/css">
    <link rel="stylesheet" href="/css/common/font.css" type="text/css">
</head>
<body>
    <div class="main">
        <div class="left"></div>
        <div class="right">
            <div class="rightTitle">물뿌리개</div>
            <div class="rightSub">반갑습니다! 식물쇼핑몰 물뿌리개입니다</div>
            <div class="loginTitle">비밀번호 찾기실패</div>
            <div class="successText1">
                입력하신 정보로 등록된 회원이 없습니다.
            </div>
            <div class="successText2">
                정보를 다시 확인하시고 시도해주세요.
            </div>
            <div>
                <a href="/member/login/login" class="button">확인</a>
            </div>
            <div>
                <span class="checkId">계정이 없으신가요?</span>
                <span><a href="/member/regist/join" class="regist">회원가입</a></span>
            </div>
            <div class="copy">@Copyright 물뿌리개</div>
        </div>
    </div>
</body>
</html>