<!DOCTYPE html>
<html html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
 
    <link rel="icon" type="image/x-icon" href="../resource/images/icons8-화분에-심은-식물-48 (1).png">
    <link href="https://unpkg.com/ress/dist/ress.min.css" rel="stylesheet" type="text/css">
  
	    <link rel="stylesheet" type="text/css" th:href="@{/css/font.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/googi.css}">   
     
<script>
	const message = '[[${message}]]';
	message && alert(message);
</script>
</head>
<body>
  

  <div th:replace="common/j.header2.html"></div>

    <div class=wrapper>
    	<div class=wrap>
	    	<div class="title-left">공지사항</div>
	    <table class="title-list">
	
				<tr th:each="announcement : ${ consumerList }"
				th:onclick="|location.href='/consumer/detail?no=${announcement.announcementNo}'|">			
				<td th:text="${ announcement.announcementTitle }"></td>									
			</tr>
		</table>
		</div>
    </div>
    
	<!-- 페이징 바 -->
	<div id="paging" align="center" style="margin-top: 20px;">

		<th:block
			th:if="${ paging.searchCondition != null and paging.searchValue != null }">
			<!-- 맨 앞으로 이동 -->
			<button
				th:onclick="'location.href=\'/consumer/googi?page=1&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''">&lt;&lt;</button>

			<!-- 이전 페이지로 이동 -->
			<button
				th:onclick="'location.href=\'/consumer/googi?page=' + @{${paging.page - 1}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"
				th:disabled="${ paging.page <= 1 }">&lt;</button>

			<!-- 숫자 버튼 -->
			<th:block
				th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
				<button
					th:onclick="'location.href=\'/consumer/googi?page=' + @{${page}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${paging.searchValue}} + '\''"
					th:text="${ page }" th:disabled="${ paging.page eq page }">
				</button>
			</th:block>

			<!-- 다음 페이지로 이동 -->
			<button
				th:onclick="'location.href=\'/consumer/googi?page=' + @{${paging.page + 1}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${searchValue}} + '\''"
				th:disabled="${ paging.page >= paging.maxPage }">></button>

			<!-- 맨 끝으로 이동 -->
			<button
				th:onclick="'location.href=\'/consumer/googi?page=' + @{${paging.maxPage}} + '&searchCondition=' + @{${paging.searchCondition}} + '&searchValue=' + @{${searchValue}} + '\''">>></button>

		</th:block>

		<th:block
			th:if="${ paging.searchCondition == null || paging.searchCondition.isEmpty() || paging.searchValue == null || paging.searchValue.isEmpty()}">
			<!-- 맨 앞으로 이동 -->
			<button th:onclick="'location.href=\'/consumer/googi?page=1\''">&lt;&lt;</button>

			<!-- 이전 페이지로 이동 -->
			<button
				th:onclick="'location.href=\'/consumer/googi?page=' + @{${paging.page - 1}} + '\''"
				th:disabled="${ paging.page <= 1 }">&lt;</button>

			<!-- 숫자 버튼 -->
			<th:block
				th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
				<button
					th:onclick="'location.href=\'/consumer/googi?page=' + @{${page}} + '\''"
					th:text="${ page }" th:disabled="${ paging.page eq page }">
				</button>
			</th:block>

			<!-- 다음 페이지로 이동 -->
			<button
				th:onclick="'location.href=\'/consumer/googi?page=' + @{${paging.page + 1}} + '\''"
				th:disabled="${ paging.page >= paging.maxPage }">></button>

			<!-- 맨 끝으로 이동 -->
			<button
				th:onclick="'location.href=\'/consumer/googi?page=' + @{${paging.maxPage}} + '\''">>></button>
		</th:block>

	</div>
        	
	<div th:replace="common/j.footer2.html"></div>
    
</body>
</html>