body {
   height: 100%;
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;  /* 모든 하이퍼링크 밑줄 삭제 */
}

/* 배너 */
.wrapper
{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.banner
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0px;
    flex-shrink: 0;
    transition: left 0.15s;
}
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .banner {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes banner {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes banner {
    from {opacity: .4} 
    to {opacity: 1}
  }

.banner img
{
    width:1000px;
    height:450px;
    margin-top: 60px;
}


 /* New Product */
 .newProduct{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-family: 'TAEBAEKmilkyway';
 }

 .newProduct h1{
    color: rgba(126, 113, 113);
    opacity: 80%;
    font-weight: bold;
    font-family: 'TAEBAEKmilkyway';
 }

 .newProduct h4{
    color: rgba(118, 141, 131);
    opacity: 90%;
    font-weight: 100;
    font-weight: bold;
    font-family: 'TAEBAEKmilkyway';
    margin-top: 1%;
 }

.newProductPicture{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

 .newProductPicture div{
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
 }

 .newProductPicture img{
    width: 200px;
    height: 250px;
 }

 .newProductPicture .s1
 {
    color: rgba(126, 113, 113);
    opacity: 80%;
    font-size: 18px;
    font-weight: bold;
    font-family: 'TAEBAEKmilkyway';
 }

 .newProductPicture .s2
 {
    color: rgba(126, 113, 113);
    opacity: 80%;
    font-size: 16px;
    font-weight: bold;
    font-family: 'TAEBAEKmilkyway';
 }

 .newProductPicture .s3
 {
    color: rgba(126, 113, 113);
    opacity: 80%;
    font-size: 16px;
    text-decoration: line-through;
    font-weight: bold;
    font-family: 'TAEBAEKmilkyway';
 }

 .newProductPicture .s4
 {
    color: rgba(126, 113, 113);
    opacity: 80%;
    font-size: 16px;
    font-weight: bold;
    font-family: 'TAEBAEKmilkyway';
 }

 .newProductPicture .s5
 {
    color: rgba(118, 141, 131);
    opacity: 90%;
    font-weight: 100;
    font-size: 16px;
    font-weight: bold;
    font-family: 'TAEBAEKmilkyway';
 }

  /* 커뮤니티 */
 .newPost{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
    font-family: 'TAEBAEKmilkyway';
 }

 .newPost h1{
    color: rgba(126, 113, 113);
    opacity: 80%;
    font-weight: bold;
    font-family: 'TAEBAEKmilkyway';
 }

 .newPost h4{
    color: rgba(118, 141, 131);
    opacity: 90%;
    font-weight: bold;
    font-family: 'TAEBAEKmilkyway';
    margin-top: 1%;
 }

 .newPostPicture{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 20% 0 20%;
 }

 .newPostPicture div{
    text-align: center;
    display: inline-block;
    margin-bottom: 30px;
 }

 .p1{
    background: rgba(169, 197, 185, 0.1);
    width: 200px;
    height: 250px;
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 30px;
 }

 .p1c img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 20px;
 }

 .p1t{
    height: 120px;
    width: 180px;
    overflow: hidden;
 }

 .writer{
    color: rgba(126, 113, 113);
    font-weight: 1000;
    font-family: 'TAEBAEKmilkyway';
 }

 .story{
    font-family: 'TAEBAEKmilkyway';
    font-weight: bold;
    color: rgba(118, 141, 131);
 }

 /* 공지사항 */
 .yell{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 23% 0 23%;
    text-align: center;
 }

 .notice{
    background: rgba(118, 141, 131, 0.1);
    width: 500px;
    height:200px;
    border-radius: 30px;
    padding-top: 30px;
    margin-bottom: 30px;
 }

 .faq{
    background: rgba(118, 141, 131, 0.1);
    width: 500px;
    height:200px;
    border-radius: 30px;
    padding-top: 30px;
 }

 .yell h1{
    color: rgba(126, 113, 113);
    font-weight: 1000;
    font-family: 'TAEBAEKmilkyway';
    font-size: 20px;
 }

 .yell h4{
    color: rgba(118, 141, 131);
    font-weight: 100;
    font-weight: bold;
    font-family: 'TAEBAEKmilkyway';
    margin-top: 1%;
    margin-bottom: 2%;
 }

 .n1,
 .f1{
    width: 480px;
    height: 180px;
    margin: 0 10px 0 10px;
    margin-bottom: 10px;
    color: rgba(126, 113, 113);
    font-weight: 1000;
    font-family: 'TAEBAEKmilkyway';
    font-size: 14px;
    overflow: hidden;
 }

 .yelly{
    display: flex;
 }

 .all{
    margin-right: 40px;
    margin-bottom: 5%;
 }

/* YOUTUBE */
.youtube{
    text-align: center;
    font-weight: bold;
    font-family: 'TAEBAEKmilkyway';
    margin-top: 50px;
    margin-bottom: 50px;
 }

 .youtube h1{
    color: rgba(126, 113, 113);
    opacity: 80%;
    font-weight: bold;
    font-family: 'TAEBAEKmilkyway';
 }

 .youtube h4{
    color: rgba(118, 141, 131);
    opacity: 90%;
    font-weight: 100;
    font-weight: bold;
    font-family: 'TAEBAEKmilkyway';
     margin-top: 1%;
 }

 .youtubevideo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 20%;
 }

 /* 카테고리 */
 .category
 {
    text-align: center;
    font-weight: bold;
    font-family: 'TAEBAEKmilkyway';
    margin-bottom: 50px;
    margin-top: 25%;
    padding-top: 3%;
 }

 .category h1{
    color: rgba(126, 113, 113);
    font-weight: bold;
    font-family: 'TAEBAEKmilkyway';
 }

 .category h4{
    color: rgba(118, 141, 131);
    opacity: 90%;
    font-weight: 100;
    font-weight: bold;
    font-family: 'TAEBAEKmilkyway';
    margin-top: 1%;
 }

 .categorypicture{
    display: flex;
    margin: 0 23% 0 23%;
 }

 .categorypicture img{
    width: 150px;
    height: 150px;
 }

 .ct{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
 }

 .ctt{
    font-weight: bold;
    color: rgba(126, 113, 113, 0.7);
    font-weight: bold;
    font-family: 'TAEBAEKmilkyway';
 }
 