body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;  /* 紐⑤뱺 �븯�씠�띁留곹겕 諛묒쨪 �궘�젣 */
}

/* 諛곕꼫 */
.wrapper
{
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 30px;
}

.banner
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-shrink: 0;
    transition: left 0.15s;
    width: 1000px;
    height: 500px;
    margin-top:3%;
    margin-bottom: 1%;
}
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .banner {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes banner {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes banner {
    from {opacity: .4} 
    to {opacity: 1}
  }

.banner img
{
    width:1000px;
    height:450px;
    margin-top: 3%;
}

 /* New Product */
 .bestProduct{
    text-align: center;
    margin-top: 25%;
    font-family: 'TAEBAEKmilkyway';
    font-weight: bold;
    padding-top: 5%;
 }

 .bestProduct h1{
    color: rgba(126, 113, 113);
    opacity: 80%;
    font-weight: bold;
    margin-top: 10%;
 }

 .bestProduct h4{
    color: rgba(118, 141, 131);
    opacity: 90%;
    font-weight: bold;
    margin-top: 1%;
 }

.bestProductPicture{
    font-family: 'TAEBAEKmilkyway';
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

 .bestProductPicture div{
    text-align: center;
    margin-left: 30px;
    display: inline-block;
 }

 .bestProductPicture img{
    width: 230px;
    height: 300px;
 }

 .bestProductPicture .s1
 {
    color: rgba(126, 113, 113);
    opacity: 80%;
    font-size: 18px;
 }

 .bestProductPicture .s2
 {
    color: rgba(126, 113, 113);
    opacity: 80%;
    font-size: 16px;
 }

 .bestProductPicture .s3
 {
    color: rgba(118, 141, 131);
    opacity: 90%;
    font-weight: bold;
    font-size: 16px;
 }

 