<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/seller/06. sellerControll.css" rel="stylesheet" style type="text/css">
    <link href="/css/font.css" rel="stylesheet" style type="text/css">
    <script type="text/javascript" defer src="/js/seller/06-2. sellerAccept.js"></script>
    <title>Document</title>
</head>
<body>
    
    <div class="topground2"></div>
    <div class="imgback2">
        <div class="categoryname2">
            <div class="storenumber">사업자번호</div>
            <div class="account">통장 사본</div>
            <div class="storecompany">사업자등록증</div>
            <div class="storeinternet">통신판매업신고</div>
            <div class="storesafe">구매안전서비스</div>
        </div>

            <div class="dbbase2">
                <div class="storenumberd">일랑일랑</div>
                <div class="accountd">winter0123</div>
                <div class="storecompanyd">응대가 불량해용ㅠㅠ</div>
                <div class="storeiinternetd">배송 잘못와서 한마디</div>
                <div class="storesafed">배송 잘못와서 한마디</div>
            </div>
        </div>
    </div>
    <div class="topground3"></div>
</body>
</html>