<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>cart</title>
<link href="/css/font.css" rel="stylesheet" type="text/css">
<link href="/css/shoppingcart/shoppingcart.css" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<div th:replace="/common/mheaderLogin.html"></div>
	<form action="/cart/list/checkout" method="post">
	<div class="contentsWrap">
		<div class="wishList">
			<div class="pageTitle">장바구니</div>
			<div class="formTitle">
				<span class="checkbox"> <input type="checkbox" id="allCheck">
					<label for="allCheck" class="chkTitle20 checkText tailCheck"></label>
				</span> <span class="titleRL">전체선택</span> / 총 상품 <span class="greenColor">1</span>
				개
			</div>
			<div id="cartList" class="wishListDivision">
				<div class="left">
					<table class="basketT">
						<tbody>
							<tr>
								<th>일렁</th>
							</tr>
						</tbody>
					</table>
					<table class="basketT cartCell">
						<tbody>
							<tr th:each="ci : ${cartInfo}">
								<td class="contents"><span class="chkbox"> <input
										type="checkbox" id="oneCheck" name="checkbox_input" th:value="${ci.pcNo}"><label for=""
										class="chkTitle20 checkText tailCheck"></label>
								<input type="hidden" name="checkbox_pcNo" data-id="${ci.pcNo}">			
								<input type="hidden" class="individual_totalPrice_input" th:value="${ci.sbPrice * ci.pcAmount}">
								<input type="hidden" class="individual_sbAmount_input" th:value="${ci.pcAmount}">
								</span> <span class="close deleteProductButton"><i
										class="xi-close-min-reClose" th:onclick="deletesbNo([[${ci.pcNo}]])"></i>
								</span>
									<div class="wishBoxArea">
										<div class="imgBox">
											<img src="/img/배너1.jpg">
										</div>
										<div class="con">
											<span th:text="${ci.sbName}"></span><br><span class="sbPrice" th:text="${ci.sbPrice}"><br><br>											
											</span>원
										</div>
										<div class="grayBox amountSet">
											<div class="closeButton">
												<i class="xi-close"></i>
											</div>
											<div class="quantityPrice">수량 : 
												<input type="number" th:value="${ci.pcAmount}" class="quantity_input" name="pcAmount" min="0"> 개
												<a class="quantity_modify_btn" th:attr="data-sbno=${ci.sbNo}">변경</a>
												<div class="priceSum">
													<span class="sbtotalPrice" th:text="${ci.totalPrice}"></span>원
												</div>
											</div>
										</div>
								</div></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="right">
					<table class="priceTable">
						<tbody>
							<tr>
								<th colspan="2">전체주문금액</th>
							</tr>
							<tr class="firstChild">
								<td>선택 상품 수</td>
								<td class="txtRight"><span class="quantity"></span> 개</td>
							</tr>
							<tr>
								<td>총 상품금액</td>
								<td class="txtRight"><span class="totalPrice"></span> 원</td>
							</tr>
							<tr>
								<td>배송비</td>
								<td class="txtRight"><span class="orderAmountSum"></span> 원</td>
							</tr>
							<tr>
								<td class="finalPrice fl">결제 예정 금액</td>
								<td class="txtRight finalPrice"><span class="payAmountSum"></span> 원</td>
							</tr>
						</tbody>
					</table>
					<button class="button default full green mt10 buyButton">주문하기</button>
				</div>
			</div>
		</div>
	</div>
	</form>
	<div th:replace="/common/j.footer2.html"></div>
	<script>
function deletesbNo(pcNo){
		
		fetch("/cart/list/deletesbNo", {
			method : 'POST',
			headers : {
				'Content-Type' : 'application/json; charset=UTF-8'
			},
			body : JSON.stringify({pcNo : pcNo})
		})
		.then(result =>{
			alert("상품이 삭제되었습니다.");
			location.href = '/cart/list';
		})
};

function updateCount(pcAmount,sbNo){
   
		if(pcAmount < 0){
			alert("수량은 음수로 변경할 수 없습니다.")
			return;
		}
        fetch("/cart/list/updateCart", {
            method : 'POST',
            headers : {
                'Content-Type' : 'application/json; charset=UTF-8'
            },
            body : JSON.stringify({
				pcAmount : pcAmount,
            	sbNo : sbNo
            	})
        })
        .then(result => {
        	alert("수량변경이 완료되었습니다.");
        	location.href='/cart/list';
        })
};

document.querySelectorAll('.quantity_modify_btn').forEach(function(btn) {
	  btn.addEventListener('click', function(e) {
	    e.preventDefault();
	    const sbNo = e.target.getAttribute('data-sbno');
	    const pcAmount = e.target.parentNode.querySelector('.quantity_input').value;
	    updateCount(pcAmount, sbNo);
	  });
});


	</script>
	<script type="text/javascript" src=/js/shoppingcart/cart.js></script>
</body>

</html>
