body {

   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;  /* 모든 하이퍼링크 밑줄 삭제 */
}

/* 배너 */
.wrapper
{
    width:1080px;
    border:1px solid red;
    margin:0 auto;
    padding-top : 10px;
    
	
   }	
#thumbnailArea{
	
	
	 display:flex;
	 flex-wrap:wrap;
}

  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .banner {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes banner {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes banner {
    from {opacity: .4} 
    to {opacity: 1}
  }



 /* New Product */
 .newProduct{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-family: 'TAEBAEKmilkyway';
 }


 