body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;  /* 모든 하이퍼링크 밑줄 삭제 */
}

<<<<<<< HEAD
.main {
    text-align: center;
    font-family: 'HSBombaram21-Regular';
    font-weight: normal;
}

.main span {
    /* background-color: rgba(169, 197, 185, 0.7); */
    color: rgba(118, 141, 131, 0.9);
    font-size: 40px;
}

.top-holder {
    width: 100%;
    height: 60px;
    background: rgba(169, 197, 185, 0.7);
}

.menu span {
    font-size: 18px;
    font-weight: 100;
    color: rgba(118, 141, 131, 0.7);
    margin-right: 10px;
    font-family: 'ONE-Mobile-POP';
    /* color: blue; */
}

.side span {
    font-size: 12px;
    font-weight: 100;
    color: rgba(118, 141, 131, 0.7);
    margin-left: 10px;
    font-family: 'ONE-Mobile-POP';
    /* color: blue; */    
}

/* 검색 */
.searchCriteria{
    float: right;
    padding: 0 20%;
}

.searchCriteria button{
    width: 40px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(118, 141, 131, 0.7);
    font-family: 'ONE-Mobile-POP';
    color: white;
    opacity: 80%;
    font-weight: 100;
    font-size: 12px;
}

#search{
    font-family: 'ONE-Mobile-POP';
    font-weight: 100;
    font-size: 12px;
    width: 80px;
    text-align: center;
}

.inner {
    padding: 0 20%;
    display: flex;
    justify-content: space-between;
}

=======
>>>>>>> d4d2e193517ba0a5342894b3e67a892cac5ba8f6
.wrapper {
    min-height: calc(100%-160px);
    position: relative;
} 

<<<<<<< HEAD
.btm-holder {
    width: 100%;
    padding: 20px;
    bottom: 0px;
    /* left: 0px; */
    background: rgba(169, 197, 185, 0.7);
    overflow: hidden;
}

=======
>>>>>>> d4d2e193517ba0a5342894b3e67a892cac5ba8f6
.info {
    font-size: 12px;
    padding-bottom: 10px;
    color: rgba(118, 141, 131);
    /* float: none; */
    /* display: inline-block; */
    /* position: absolute; */
}

.copy {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: rgba(118, 141, 131);
    display: block;
}

/* 배너 */
.wrapper
{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.banner
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0px;
    flex-shrink: 0;
    transition: left 0.15s;
}
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .banner {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes banner {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes banner {
    from {opacity: .4} 
    to {opacity: 1}
  }

.banner img
{
    width:1000px;
    height:450px;
    margin-top: 50px;
}


 /* New Product */
 .newProduct{
    text-align: center;
    margin-top: 600px;
    font-family: 'ONE-Mobile-POP';
 }

 .newProduct h1{
    color: rgba(126, 113, 113);
    opacity: 80%;
 }

 .newProduct h4{
    color: rgba(118, 141, 131);
    opacity: 90%;
    font-weight: 100;
 }

.newProductPicture{
    font-family: 'ONE-Mobile-POP';
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

 .newProductPicture div{
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
 }

 .newProductPicture img{
    width: 200px;
    height: 250px;
 }

 .newProductPicture .s1
 {
    color: rgba(126, 113, 113);
    opacity: 80%;
    font-size: 18px;
 }

 .newProductPicture .s2
 {
    color: rgba(126, 113, 113);
    opacity: 80%;
    font-size: 16px;
 }

 .newProductPicture .s3
 {
    color: rgba(126, 113, 113);
    opacity: 80%;
    font-size: 16px;
    text-decoration: line-through;
 }

 .newProductPicture .s4
 {
    color: rgba(126, 113, 113);
    opacity: 80%;
    font-size: 16px;
 }

 .newProductPicture .s5
 {
    color: rgba(118, 141, 131);
    opacity: 90%;
    font-weight: 100;
    font-size: 16px;
 }

 .mypageMenu {
    display: flex;
 }

 .img1 {
<<<<<<< HEAD
    margin-left: 500px;
=======
    margin-left: 400px;
>>>>>>> d4d2e193517ba0a5342894b3e67a892cac5ba8f6
    margin-top: 140px;
    margin-bottom: 120px;
 }

 .profile {
<<<<<<< HEAD
    width: 300px;
=======
    width: 250px;
>>>>>>> d4d2e193517ba0a5342894b3e67a892cac5ba8f6
 }

 .mypageName {
    display: flex;
    /* width: 200px; */
    margin-top: 100px;
    margin-left: 50px;
<<<<<<< HEAD
=======
    margin-bottom : 50px;
>>>>>>> d4d2e193517ba0a5342894b3e67a892cac5ba8f6
 }

 .userName {
    color : rgba(118, 141, 131, 0.8);
    font-weight: 600;
    font-size: 40px;
    width: 100px;
 }

 .greet {
    color: rgba(71, 66, 66, 0.6);
    font-weight: 800;
    font-size: 20px;
    width: 200px;
<<<<<<< HEAD
    margin-top: 60px;
    margin-left: 110px;
=======
    margin-top: 3%;
    margin-left: 100px;
>>>>>>> d4d2e193517ba0a5342894b3e67a892cac5ba8f6
 }

 .mypageMenu {
    width: 500px;
    margin-left: 35px;
 }

 .sell {
    width: 120px;
    height: 120px;
 }

 .myInfo {
    width: 120px;
    height: 120px;
    margin-left: 60px;
 }

 .heart {
    width: 120px;
    height: 120px;
    margin-left: 60px;
 }

 .comunity {
    width: 120px;
    height: 120px;
    margin-left: 60px;
 }
 .menuName {
    display: flex;
    margin-left: 35px;
    width: 700px;
 }

 .sellP {
    color: #768D83;
    font-size: 24px;
    margin-left: 30px;
 }

 .infoP {
    color: #768D83;
    font-size: 24px;
    margin-left: 85px;
 }

 .likeP {
    color: #768D83;
    font-size: 24px;
    margin-left: 85px;
 }

 .textP {
    color: #768D83;
    font-size: 24px;
    margin-left: 100px;
 }