<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/ask/12. askControll.css" rel="stylesheet" style type="text/css">
    <link href="/css/common/font.css" rel="stylesheet" style type="text/css">
    <script type="text/javascript" defer src="/js/ask/12-1. oneAskControll.js"></script>
    <title>Document</title>
</head>
<body>

	<div th:replace="/common/madminLoginHeader.html"></div>
	
    <div class="totalbackground2">
        <div class="totalstory">
            <div class="totalbase">
                <div class="category1">
                    <div class="titlename">
                    	</div>
                </div>

                <div class="dropdown">
                <div class="mydropdown">
                           <div class="story" th:each="ask : ${askList}">
                           <input type="radio" th:name="inquiryNo" th:value="${ask.inquiryNo}">
                            <div class="bannertitle" th:text="${ask.inquiryTitle}"></div>
                            <div class="writedate" th:text="${ask.memberID}"></div>
                            <div class="deletedate" th:text="${ask.email}"></div>
                            <div class="postingdate" th:text="${ask.inquiryCategory}"></div>
                            <div class="enddate" th:text="${ask.inquirySt}"></div>
                        </div>
                       <button class="answerd"></button>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    
      <!-- 페이징 바 -->
		<div class="paging" align="center" style="margin-top: 20px;">
		<th:block
			th:if="${ paging.searchCondition == null || paging.searchCondition.isEmpty() || paging.searchValue == null || paging.searchValue.isEmpty()}">
			<!-- 맨 앞으로 이동 -->
			<button
					th:onclick="'location.href=\'/select/${category}?page=1\''">&lt;&lt;</button>
​
			<!-- 이전 페이지로 이동 -->
			<button
				
				th:onclick="'location.href=\'/select/${category}?page=' + @{${paging.page - 1}} + '\''"
				th:disabled="${ paging.page <= 1 }">&lt;</button>
​
			<!-- 숫자 버튼 -->
			<th:block
				th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage)}">
				<button
					th:onclick="'location.href=\'/select/${category}?page=' + @{${page}} + '\''"
					th:text="${ page }" th:disabled="${ paging.page eq page }">
				</button>
			</th:block>
​
			<!-- 다음 페이지로 이동 -->
			<button
				th:onclick="'location.href=\'/select/${category}?page=' + @{${paging.page + 1}} + '\''"
				th:disabled="${ paging.page >= paging.maxPage }">></button>
​
			<!-- 맨 끝으로 이동 -->
			<button
				th:onclick="'location.href=\'/select/${category}?page=' + @{${paging.maxPage}} + '\''">>></button>
		</th:block>
		
		
		</div>
    
    <div th:replace="/common/spfooter.html"></div>
</body>
</html>