<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../resources/css/12. 문의관리.css" rel="stylesheet" style type="text/css">
    <link href="../resources/css/font.css" rel="stylesheet" style type="text/css">
    <script type="text/javascript" defer src="../resources/javascript/12. 문의관리.js"></script>
    <title>Document</title>
</head>
<body>
    <div th:replace="/common/pheader.html"></div>
    
    
    
    
    <div th:replace="/common/pfooter.html"></div>
</body>
</html>