<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8" />
<link href="/css/font.css" rel="stylesheet" style type="text/css">
<link href="/css/community/communitydetail.css" rel="stylesheet" style type="text/css">
 <link rel="stylesheet" type="text/css" href="/css/community.css">   
        <link rel="stylesheet" type="text/css" href="/css/font.css">   
 
</head>
<body>
	<div th:replace="common/j.header2.html"></div>
	<div style="margin-top: 100px;">
​
		  <div class="name-ba">
	    		<div class="name-img"><img src="/img/icons8-화분에-심은-식물-48 (1).png"></div>
			   <div class="name" colspan="5" width="900" th:text="${ thumbnail.communityTitle }"></div>			  
		  </div>
		  
		
		  <div class="wrapper">
		<table align="center">
		
			<tr>
				<td></td>
				<td colspan="5">
					<div id="titleImgArea" align="center">
						<th:block th:if="${ thumbnail.attachmentList[0].thumbnailPath != null }">
							<img 
								width="1000" 
								height="800"
							    th:src="${ thumbnail.attachmentList[0].thumbnailPath }"
							>
							<br>
							<a 
								th:href="${ thumbnail.attachmentList[0].savePath + thumbnail.attachmentList[0].savedName }" 
								th:download="${ thumbnail.attachmentList[0].originalName }"
							>
								<span th:text="${ thumbnail.attachmentList[0].originalName }"></span>
							</a>
						</th:block>
					</div>
				</td>
			</tr>
			<tr>
				<td></td>
				<td colspan="5">
					<p id="contentArea" th:text="${ thumbnail.communityStory }"></p>
				</td>
			</tr>
		</table>
​
		<table class="detail" align="center">
			<tr>
				<th:block 
					th:if="${ thumbnail.attachmentList.size() > 1}"
				    th:each="index : ${ #numbers.sequence(1, thumbnail.attachmentList.size() - 1 ) }" 
				>
					<td>
						<div class="detailImgArea">
							<img 
								class="detailImg" 
								width="250" 
								height="180"
							    th:src="${ thumbnail.attachmentList[index].savePath + thumbnail.attachmentList[index].savedName }"
							><br>
								<a 
									th:href="${ thumbnail.attachmentList[index].savePath + thumbnail.attachmentList[index].savedName }" 
								    th:download="${ thumbnail.attachmentList[index].originalName }"
								>
									<span th:text="${ thumbnail.attachmentList[index].originalName }"></span>
								</a>
						</div>
					</td>
				</th:block>
			</tr>
		</table>
		</div>
		</div>
	  <div class="st-ba">
		  <div><p id="contentArea" th:text="${ thumbnail.communityStory }"></p></div>
		  
		  </div>
	
	
	
	
	
​
	
	
	
	
</body>
</html>