<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/screen/08. screenControll.css" rel="stylesheet" style type="text/css">
    <link href="/css/common/font.css" rel="stylesheet" style type="text/css">
    <script type="text/javascript" defer src="/js/screen/08. screenControll.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="totalbackground">
        <div><img src="/img/왼쪽배경.png"></div>
        <div class="text">
            <div class="topground4"></div>
            <div class="totaltitle">물뿌리개</div>
            <div class="tt1"><button>배너 관리</button></div>
            <div class="tt2"><button>유투브 관리</buttond=></div>
        </div>
    </div>
</body>
</html>